* {
    color: white;
}

body {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 50px;
}

.profile-card {
    height: 500px;
    width: 800px;
}

article {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #161616, #333333);
}

img:not(.photo, .flag) {
    height: 100px;
    width: 100px;
}

.flag {
    width: 15px;
    height: 10px;
    margin-left: 8px;
}

.photo {
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

svg {
    height: 15px;
    width: 25px;
}

h1, h2 {
    font-size: 40px;
}

section {
    width: 50%;
    height: 100%;
    text-align: center;
}

.links {
    order: -1;
}