* {
    color: white;
}

body {
    align-items: center;
}

.profile-card {
    height: 500px;
    width: 1000px;
}

article {
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(#161616, #333333);
}

.photo {
    height: 300px;
    width: 300px;
    border-radius: 5px;
}

.flag {
    height: 15px;
    width: 25;
}

h1 {
    font-size: 50px;
}

.name {
    float: left;
    margin-left: 5%;
}

.title {
    float: right;
    margin-right: 5%;

}

p {
    padding: 0;
    font-size: 20px;
}

nav {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

aside {
    width: 50%;
    height: 100%;
    float: left;
}